In [1]:
#List any five functions of the pandas library with execution.

In [2]:
"""read_csv():
Description: Loads data from a CSV file into a DataFrame."""
import pandas as pd

# Read data from a CSV file
df = pd.read_csv('titanic.csv')

print(df.head())  # Display the first 5 rows

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
"""fillna():
Description: Replaces missing values (NaN) in a DataFrame with specified values."""
# Fill missing values with zeros
df.fillna(0, inplace=True)
print(df)

     Unnamed: 0  PassengerId  Survived  Pclass  \
0             0            1         0       3
1             1            2         1       1
2             2            3         1       3
3             3            4         1       1
4             4            5         0       3
..          ...          ...       ...     ...
886         886          887         0       2
887         887          888         1       1
888         888          889         0       3
889         889          890         1       1
890         890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500     0        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     0        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500     0        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000     0        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500     0        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500     0        Q

[891 rows x 13 columns]

In [4]:
"""mean():
Description: Calculates the mean (average) of a Series or DataFrame."""
# Calculate the mean age
avg_age = df['Age'].mean()
print(f"Average age: {avg_age:.2f}")

Average age: 23.80

In [6]:
# Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
#DataFrame with a new index that starts from 1 and increments by 2 for each row
import pandas as pd

def reindex_dataframe(df):
    """
    Re-indexes the DataFrame with a new index starting from 1 and incrementing by 2.
    Args:
        df (pd.DataFrame): Input DataFrame with columns 'A', 'B', and 'C'.
    Returns:
        pd.DataFrame: DataFrame with the new index.
    """
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    df_reindexed = df.set_index(new_index)
    return df_reindexed

# Example usage:
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [7]:
"""You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console"""
import pandas as pd

def calculate_sum_of_first_three(df):
    """
    Calculates the sum of the first three values in the 'Values' column of the DataFrame.
    Args:
        df (pd.DataFrame): Input DataFrame with a column named 'Values'.
    """
    try:
        # Extract the first three values from the 'Values' column
        first_three_values = df['Values'][:3]

        # Calculate the sum
        total_sum = first_three_values.sum()

        print(f"Sum of the first three values: {total_sum}")
    except KeyError:
        print("Column 'Values' not found in the DataFrame.")

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

calculate_sum_of_first_three(df)

Sum of the first three values: 60

In [9]:
"""Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column"""
import pandas as pd

def add_word_count_column(df):
    """
    Adds a new column 'Word_Count' to the DataFrame, containing the word count for each row in the 'Text' column.
    Args:
        df (pd.DataFrame): Input DataFrame with a column named 'Text'.
    Returns:
        pd.DataFrame: DataFrame with the new 'Word_Count' column.
    """
    # Split the text into words and count them
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))

    return df

# Example usage:
data = {'Text': ["This is a sample sentence.",
                 "Pandas is great for data analysis.",
                 "Python programming is versatile."]}
df = pd.DataFrame(data)

result_df = add_word_count_column(df)
print(result_df)

                                 Text  Word_Count
0          This is a sample sentence.           5
1  Pandas is great for data analysis.           6
2    Python programming is versatile.           4

In [10]:
#. How are DataFrame.size() and DataFrame.shape() different
"""DataFrame.size():
Description: The size() method returns the total number of elements (cells) in the DataFrame.
It calculates the product of the number of rows and the number of columns.
The result includes both non-null and null (NaN) values.
DataFrame.shape():
Description: The shape() attribute returns a tuple representing the dimensions of the DataFrame.
It provides the number of rows and columns (in that order).
The result does not include null (NaN) values.
"""

'DataFrame.size():\nDescription: The size() method returns the total number of elements (cells) in the DataFrame.\nIt calculates the product of the number of rows and the number of columns.\nThe result includes both non-null and null (NaN) values.\nDataFrame.shape():\nDescription: The shape() attribute returns a tuple representing the dimensions of the DataFrame.\nIt provides the number of rows and columns (in that order).\nThe result does not include null (NaN) values.\n'

In [11]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

total_elements = df.size
print(f"Total elements in the DataFrame: {total_elements}")

Total elements in the DataFrame: 6

In [12]:
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}, Number of columns: {num_columns}")

Number of rows: 3, Number of columns: 2

In [14]:
#Which function of pandas do we use to read an excel file
"""To read an Excel file in Pandas, you can use the pandas.read_excel() function. This function allows you to load data from an Excel file (with extensions like .xls, .xlsx, .xlsm, .xlsb, .odf, .ods, or .odt) into a Pandas DataFrame. You can read from a local filesystem or provide a URL."""

'To read an Excel file in Pandas, you can use the pandas.read_excel() function. This function allows you to load data from an Excel file (with extensions like .xls, .xlsx, .xlsm, .xlsb, .odf, .ods, or .odt) into a Pandas DataFrame. You can read from a local filesystem or provide a URL.'

In [15]:
#Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'
import pandas as pd

def filter_date_range(df):
    """
    Filters the DataFrame to include rows with dates between '2023-01-01' and '2023-01-31'.
    Args:
        df (pd.DataFrame): Input DataFrame with a column named 'Date'.
    Returns:
        pd.DataFrame: DataFrame containing filtered rows.
    """
    try:
        # Convert the 'Date' column to datetime if not already
        df['Date'] = pd.to_datetime(df['Date'])

        # Filter rows within the specified date range
        filtered_df = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

        return filtered_df
    except KeyError:
        print("Column 'Date' not found in the DataFrame.")

# Example usage:
data = {'Date': ['2023-01-05', '2023-01-15', '2023-02-10', '2023-01-25']}
df = pd.DataFrame(data)

filtered_data = filter_date_range(df)
print(filtered_data)

        Date
0 2023-01-05
1 2023-01-15
3 2023-01-25

In [16]:
# To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
#be imported
import pandas as pd

In [17]:
"""You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column.
 For example, if df contains the following values:
 Date
 0  2023-01-01
 1  2023-01-02
 2  2023-01-03
 3  2023-01-04
 4  2023-01-05
 Your function should create the following DataFrame:
 Date               
Weekday
 0  2023-01-01     Sunday
 1  2023-01-02     Monday
 2  2023-01-03    Tuesday
 3  2023-01-04    Wednesday
 4  2023-01-05    Thursday
 Data Science Masters
 The function should return the modified DataFrame"""

"You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new \ncolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. \nMonday, Tuesday) corresponding to each date in the 'Date' column.\n For example, if df contains the following values:\n Date\n 0  2023-01-01\n 1  2023-01-02\n 2  2023-01-03\n 3  2023-01-04\n 4  2023-01-05\n Your function should create the following DataFrame:\n Date               \nWeekday\n 0  2023-01-01     Sunday\n 1  2023-01-02     Monday\n 2  2023-01-03    Tuesday\n 3  2023-01-04    Wednesday\n 4  2023-01-05    Thursday\n Data Science Masters\n The function should return the modified DataFrame"

In [18]:
import pandas as pd

def add_weekday_column(df):
    """
    Adds a new column 'Weekday' to the DataFrame, containing the weekday names for each date in the 'Date' column.
    Args:
        df (pd.DataFrame): Input DataFrame with a column named 'Date'.
    Returns:
        pd.DataFrame: DataFrame with the new 'Weekday' column.
    """
    try:
        # Convert the 'Date' column to datetime if not already
        df['Date'] = pd.to_datetime(df['Date'])

        # Extract the weekday names
        df['Weekday'] = df['Date'].dt.strftime('%A')

        return df
    except KeyError:
        print("Column 'Date' not found in the DataFrame.")

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

modified_df = add_weekday_column(df)
print(modified_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday