In [1]:
#Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series

import pandas as pd

# Create the Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the   variable print it

import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
import pandas as pd


s_data=pd.DataFrame({"Name":["alice","bob","claire"],"Age":[25,30,27],"gender":["female","male","female"]})

In [5]:
s_data

     Name  Age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [10]:
#What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""Pandas Series:
A Pandas Series is a one-dimensional array-like object that can hold data of any type (such as integers, floats, strings, etc.).
It is labeled, meaning each element has a unique identifier called an index.
Think of a Series as a column in a spreadsheet or a single column of a database table.
Series are fundamental building blocks in Pandas and are commonly used for data manipulation and analysis tasks.
Pandas DataFrame:
A Pandas DataFrame is a two-dimensional table-like structure that consists of multiple Series objects.
It can be thought of as a collection of Series, where each Series represents a column.
DataFrames are commonly used for handling structured data, such as data from CSV files, databases, or Excel spreadsheets."""

'Pandas Series:\nA Pandas Series is a one-dimensional array-like object that can hold data of any type (such as integers, floats, strings, etc.).\nIt is labeled, meaning each element has a unique identifier called an index.\nThink of a Series as a column in a spreadsheet or a single column of a database table.\nSeries are fundamental building blocks in Pandas and are commonly used for data manipulation and analysis tasks.\nPandas DataFrame:\nA Pandas DataFrame is a two-dimensional table-like structure that consists of multiple Series objects.\nIt can be thought of as a collection of Series, where each Series represents a column.\nDataFrames are commonly used for handling structured data, such as data from CSV files, databases, or Excel spreadsheets.'

In [11]:
import pandas as pd

# Create a Series from a list
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
# Create a DataFrame from dictionaries
data_dict = {'Name': ['Alice', 'Bob', 'Charlie'],
             'Age': [25, 30, 22],
             'Salary': [50000, 60000, 45000]}

df = pd.DataFrame(data_dict)

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000

In [13]:
# What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
#you give an example of when you might use one of these functions?
 #Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
 #Q7. Create a DataFrame using multiple Series. Explain with an example

In [14]:
import pandas as pd

# Create an initial DataFrame
data = {'Name': ['Alice', 'Bob'],
        'Age': [25, 30]}
df = pd.DataFrame(data)

# Add a new row
new_row = {'Name': 'Charlie', 'Age': 22}
df = df.append(new_row, ignore_index=True)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

C:\Users\chand\AppData\Local\Temp\ipykernel_20936\3010986662.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [15]:
# Remove the 'Age' column
df.drop(columns=['Age'], inplace=True)
print(df)

      Name
0    Alice
1      Bob
2  Charlie

In [16]:
df.rename(columns={'Name': 'Full Name'}, inplace=True)
print(df)

  Full Name
0     Alice
1       Bob
2   Charlie

In [18]:

import pandas as pd

author = pd.Series(['Jitender', 'Purnima', 'Arpit', 'Jyoti'])
article = pd.Series([210, 211, 114, 178])

frame = {'Author': author, 'Article': article}
result = pd.DataFrame(frame)

print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178